img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

button {
  width: 100px; // whatever your button's width
  margin: 0 auto; // auto left/right margins
}